/* Pagepiling
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}
/* Backgrounds will cover all the section
* --------------------------------------- */
#section1,
#section2,
#section3,
#section4{
	background-size: cover;
  color: white;
}
/* Defining each section background and styles
* --------------------------------------- */
#section1{
	background:linear-gradient(0deg,rgba(213,177,53,0.8),rgba(213,177,53,0.8)), url("../images/about/bg4-min.JPG");
	background-size: cover;
}
#section2{
	background:linear-gradient(0deg,rgba(213,177,53,0.8),rgba(213,177,53,0.8)), url("../images/about/bg3-min.JPG");
	background-size: cover;
	padding: 6% 0 0 0;
}
#section3{
	background:linear-gradient(0deg,rgba(213,177,53,0.8),rgba(213,177,53,0.8)), url("../images/about/bg1-min.JPG");
	background-size: cover;
	padding: 6% 0 0 0;
}
#section4{
	background:linear-gradient(0deg,rgba(213,177,53,0.8),rgba(213,177,53,0.8)), url("../images/people/people-min.JPG");
	background-size: cover;
	padding: 6% 0 0 0;
	background-position: center;
}
#infoMenu li a{
		color: #fff;
}
/*Custom style*/
#section1 h1,
#section4 h1{
  font-family: aldo;
  font-size: 10em;
}
#section2 h6, #section3 h6, #section4 .intro h6{
  text-transform: uppercase;
  font-size: 3em;
	margin-top: 1em;
}
#section3 h6{
	margin-top: -1em;
}
#section2 .container, #section3 .container{
  font-size: 1.5em;
}
.about-buttons{
  background-color: transparent;
  border-radius: 2em;
  border-color: #fff;
  border-width: 2px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.about-buttons:hover{
  background-color: #fff;
  border-radius: 2em;
  border-color: #fff;
  border-width: 2px;
  color: #d5b135;
  font-size: 15px;
  text-transform: uppercase;
}
#section3 .row{
  margin-bottom: 1em;
}
#section4 .intro .row.icon{
  font-size: 5em;
  margin-top: 2em;
}
#section4 .intro .row.text{
  font-size: 1em;
}
/*Footer*/
#section4 .pp-tableCell{
  display: flex;
  flex-direction: column;
	justify-content: center;
}
#section4 .intro{
  flex: 1;
}
.people-photo{
  width: 100%;
}
.photo-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}
.photo1:hover{
  opacity: 1;
}
.photo2:hover{
  opacity: 1;
}
.photo3:hover{
  opacity: 1;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	text-align: left;
}
/*Change navbar color*/
.menu{
  color:white;
}
.people{
	width: 90%;
	height: 90%;
	border-radius: 5%;
}
h6{
	font-family: aldo;
}
@media only screen and (max-width: 768px) {
	p{
		font-size: 12px;
		padding: 0 15% 0;
	}
	#section1 h1,
	#section4 h1{
	  font-family: aldo;
	  font-size: 5em;
	}
}
