.footer .container{
  background-color: black;
  width: 100%;
  color: white;
  padding: 3em 1em 2em 1em;
}
.footer-title{
  text-transform: uppercase;
  margin-left: 0;
  margin-bottom: 1em;
  font-weight: 900;
}
.footer-items{
  list-style-type: none;
  text-transform: capitalize;
  padding-left: 4px;
  line-height: 1.6em;
  color: white;
  font-weight: 300;
}
.footer-items a{
  color: white;
  margin-left: -3px;
  transition: all 200ms linear;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.right-footer{
  letter-spacing: 8px;
  text-align: right;
}
.sosmed a{
  color: white;
}

.row.sosmed{
  margin-bottom: 0;
  font-size: 1.5em;
  letter-spacing: 1em;
}
.footer{
  font-family: helvetica;
}

@media only screen and (max-width: 768px) {
  .right-footer{
    text-align: center;
  }
  .left-footer{
    text-align: center;
    margin-bottom: 1em;
  }
}
/*
.footer-items a:hover::before{
  content: '--';
  transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
  -webkit-transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}*/
