.register{
  margin-top: 5em;
}
#register{
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}
input{
  width: 100%;
  border-color: #d5b135;
  border-style: solid;
  margin-left: 1em;
}
select{
  background-color: white;
  color: #d5b135;
  border-color: #d5b135;
  margin-left: 1em;
  width: 100%;
}
option{
  background-color: black;
}
.form-buttons{
  background-color: transparent;
  border-radius: 2em;
  border-color: #d5b135;
  border-width: 2px;
  color: #d5b135;
  font-size: 15px;
  text-transform: uppercase;
}
.form-buttons:hover{
  background-color: #d5b135;
  border-radius: 2em;
  border-color: #d5b135;
  border-width: 2px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.submit{
  text-align: center;
  margin-top: 1em;
}
.form-icon{
  text-align: center;
}
.form-icon img{
  width: 7em;
}
.heading{
  font-family: aldo;
  color: #d5b135;
}
