body, html {
    height: 100%;
}
.nav-right{
  width: 100vh;
}
/* The hero image */
#hero{
  height: 100vh;
}
.hero-image {
    background:linear-gradient(0deg,#d5b135cc,#d5b135cc), url("../images/index/hero-bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*Intro*/
.intro{
  background-image: url('../images/home-pattern.png');
  min-height: 23em;
  width: 65%;
  padding: 1em;
}
.intro-title{
  text-align: center;
  color:#d5b135;
  font-family: 'Aldo';
  font-size: 72px;
}
.intro-description{
  width: 60%;
  font-size: 2.5em !important;
}
hr{
  border-top: 4px solid #d5b135;
  width: 40%;
}
/*sections*/
section{
  margin-bottom: 10em;
}
.category-title{
  margin-bottom: 2em;
  color: gray;
  font-family: aldo;
}
/*Competitions*/
.competition-title{
  color: #d5b135;
  margin-bottom: 1em;
  font-size: 48px;
  font-family: aldo;
}
p.competition-details{
  width: 50%;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.row{
  margin-bottom: 5em;
}
.competition-buttons{
  background-color: #d5b135;
  border-radius: 2em;
  border-color: #d5b135;
  border-width: 2px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.competition-buttons:hover{
  background-color: transparent;
  border-radius: 2em;
  border-color: #d5b135;
  border-width: 2px;
  color: #d5b135;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*Partners*/
.partners{
  width: 100%;
}
#partners{
  background-color: black;
  margin-bottom: 0;
  padding-top: 2em;
}
#partners .row{
  margin-bottom: -1em;
}
#partners .category-title{
  margin-bottom: 0;
}
.marina{
  width: 50%;
  margin-top: 25%;
  margin-left: 25%;
}
.rekan{
  width: 80%;
  border-top: 1px solid #d5b135;
}
/*Extra small device*/
@media only screen and (max-width: 544px) {
  /*Responsive intro image*/
  .intro{
    width: 100%;
  }
  body, html { overflow-x:hidden; }
}
/*Small device*/
@media only screen and (max-width: 768px) {
  .competition-title{
    margin-top: 1em;
  }
  body, html { overflow-x:hidden; }
}
