/*Fonts*/
@font-face {
    font-family: circular;
    src: url('../fonts/CircularStd-Book.woff');
}
@font-face {
    font-family: aldo;
    src: url('../fonts/Aldo-SemiBold.woff');
}
@font-face {
    font-family: inconsolata;
    src: url('../fonts/Inconsolata.otf');
}
body{
  font-family: circular;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*Navbar*/
.nff-icon{
  height: 3em;
}
.navbar-right{
  display: flex!important;
  width: 100%;
}
.navbar{
  padding-left: 4em;
  padding-right: 4em;
  z-index: 1;
}
.menu{
  font-size:30px;
  cursor:pointer;
  color:#d5b135;
  margin-top: 50%;
}
/*transparent navbar*/
.bg-faded{
  background: none;
}
/*Extra small device*/
@media only screen and (max-width: 544px) {
  /*Responsive intro image*/
  .navbar{
    padding-left: 1em;
    padding-right: 1em;
  }
}
/*full screen menu*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #d5b135;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*Small device*/
@media only screen and (max-width: 768px) {
  .navbar{
    padding-left: 1em;
    padding-right: 1em;
  }
}
