body, html {
    height: 100%;
}
.nav-right{
  width: 100vh;
}
.poster{
  margin: 5em;
}
/*Extra small device*/
@media only screen and (max-width: 544px) {
  /*Responsive intro image*/
  .intro{
    width: 100%;
  }
  .poster{
    margin: 2em;
  }
  .container{
    margin-top: 5em;
  }
  body, html { overflow-x:hidden; }
}
/*Small device*/
@media only screen and (max-width: 768px) {
  .competition-title{
    margin-top: 1em;
  }
  .poster{
    margin: 2em;
  }
  .container{
    margin-top: 5em;
  }
  body, html { overflow-x:hidden; }
}
