{% extends 'nff/base.html' %}
{% block title %}
About NFF
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/about.css' %}" />
<link rel="stylesheet" href="{%static 'nff/css/jquery.pagepiling.css' %}" />
{% endblock %}
{% block content %}
<div id="pagepiling">
    <div class="section" id="section1">
      <div id="myNav4" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">&times;</a>
        <div class="overlay-content">
          <a href={% url 'nff:index' %}>NFF</a>
          <a href={% url 'nff:about' %}>Tentang</a>
          <a href={% url 'nff:competition' %}>Kompetisi</a>
          <a href={% url 'nff:registration' %}>Registrasi</a>
          <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
          <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
          <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
        </div>
      </div>
      <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <div class="navbar-right" id="navbarTogglerDemo02">
          <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
          <ul class="nav navbar-nav ml-auto">
            <span class="menu" onclick="openNav4()"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </ul>
        </div>
      </nav>
    	<h1>TENTANG KAMI</h1>
    </div>
    
    <div class="section" id="section2">
    	<div class="intro">
        <div id="myNav1" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
          <div class="overlay-content">
            <a href={% url 'nff:index' %}>NFF</a>
            <a href={% url 'nff:about' %}>Tentang</a>
            <a href={% url 'nff:competition' %}>Kompetisi</a>
            <a href={% url 'nff:registration' %}>Registrasi</a>
            <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
            <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
            <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
          </div>
        </div>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
          <div class="navbar-right" id="navbarTogglerDemo02">
            <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
            <ul class="nav navbar-nav ml-auto">
              <span class="menu" onclick="openNav1()"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </ul>
          </div>
        </nav>
    		<h6>Tentang NFF</h6>
        <div class="container">
          <p>National Folklore Festival (NFF) adalah acara tahunan bertemakan budaya Indonesia terbesar yang diselenggarakan oleh mahasiswa Fakultas Ekonomi dan Bisnis Universitas Indonesia. Di bawah naungan Departemen Apresiasi Seni dan Budaya dari Badan Eksekutif Mahasiswa (BEM), National Folklore Festival berkontribusi aktif setiap tahunnya melestarikan dan menjaga persatuan dalam kebergaman budaya Indonesia.<br /><br />

          Pada tahun ini, kami dengan bangga mempersembahkan The 12th National Folklore Festival “Sekarnaka Sandya”, yang akan diselenggarakan pada akhir bulan Februari hingga awal bulan Maret 2018. The 12th National Folklore Festival terdiri atas rangkaian main event berupa perlombaan paduan suara dan tari tradisional berskala nasional, untuk tingkat SMA, Universitas, dan Umum. The 12th NFF juga memiliki rangkaian pre-event berupa perlombaan tradisional dan mini museum, untuk meningkatkan awareness terhadap budaya Indonesia dalam lingkup Fakultas Ekonomi dan Bisnis Universitas Indonesia serta</p>
        </div>
    	</div>
    </div>
    <div class="section" id="section3">
    	<div class="intro">
        <div id="myNav2" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
          <div class="overlay-content">
            <a href={% url 'nff:index' %}>NFF</a>
            <a href={% url 'nff:about' %}>Tentang</a>
            <a href={% url 'nff:competition' %}>Kompetisi</a>
            <a href={% url 'nff:registration' %}>Registrasi</a>
            <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
            <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
            <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
          </div>
        </div>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
          <div class="navbar-right" id="navbarTogglerDemo02">
            <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
            <ul class="nav navbar-nav ml-auto">
              <span class="menu" onclick="openNav2()"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </ul>
          </div>
        </nav>
    		<h6>Sekarnaka Sandya</h6>
        <div class="container">
          <p>Tema “Sekarnaka Sandya” memiliki arti bunga emas persatuan. Bunga memiliki kesamaan filosofis dengan kebudayaan yang dimiliki oleh bangsa Indonesia, sedangkan emas melambangkan bahwa keberagaman budaya nusantara merupakan harta yang sangat berharga dan aset bangsa Indonesia sendiri, yang diharapkan mampu mempererat rasa persatuan bangsa Indonesia. Bentuk kebudayaan itu sendiri salah satunya berupa pertunjukan seni budaya, yang diwujudkan dalam kompetisi Paduan Suara dan Tari Tradisional di National Folklore Festival. The 12th National Folklore Festival merupakan wadah bagi para generasi muda untuk melakukan aksi nyata melestarikan keberagaman budaya sebagai bagian dari harta bangsa Indonesia.</p>
        </div>
    	</div>
    </div>
    <div class="section" id="section4">
      <div id="myNav3" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
        <div class="overlay-content">
          <a href={% url 'nff:index' %}>NFF</a>
          <a href={% url 'nff:about' %}>Tentang</a>
          <a href={% url 'nff:competition' %}>Kompetisi</a>
          <a href={% url 'nff:registration' %}>Registrasi</a>
          <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
          <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
          <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
        </div>
      </div>
      <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <div class="navbar-right" id="navbarTogglerDemo02">
          <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
          <ul class="nav navbar-nav ml-auto">
            <span class="menu" onclick="openNav3()"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </ul>
        </div>
      </nav>
      <h1>KELUARGA NFF</h1>
          <!--<img class="people" src="{%static 'nff/images/people/people-min.JPG' %}" alt="NFF Team" />-->
          <!--<div class="row">
            <div class="col-md-4 photo1">
              <img class="people-photo" src="{%static 'nff/images/people/mahendra.png' %}" alt="Mahendra" />
              <div class="photo-overlay photo1">
                <div class="overlay-text">
                  <p>Hunarko Mahendra<br />Project Officer</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 photo2">
              <img class="people-photo" src="{%static 'nff/images/people/thania.png' %}" alt="Thania" />
              <div class="photo-overlay photo2">
                <div class="overlay-text">
                  <p>Thania Hanifa<br />Vice Project Officer</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 photo3">
              <img class="people-photo" src="{%static 'nff/images/people/oliv.png' %}" alt="Oliv" />
              <div class="photo-overlay photo3">
                <div class="overlay-text">
                  <p>Olivia Gracia<br />VP, Marketing</p>
                </div>
              </div>
            </div>
          </div>
          <!--<button type="button" class="btn btn-outline-warning about-buttons">See all people</button>-->
    	</div>
    </div>
    <!--<div class="section" id="section4">
    	<div class="intro">
        <div id="myNav2" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
          <div class="overlay-content">
            <a href="/">Register</a>
            <a href="/confirmation">Comfirmation</a>
            <a href="/form">Form upload</a>
            <a href="/application">Application document</a>
          </div>
        </div>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
          <div class="navbar-right" id="navbarTogglerDemo02">
            <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
            <ul class="nav navbar-nav ml-auto">
              <span class="menu" onclick="openNav2()"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </ul>
          </div>
        </nav>
    		<h6>Contact</h6>
        <!--<div class="row icon">
          <div class="col-md-4">
            <i class="fa fa-map-pin" aria-hidden="true"></i>
          </div>
          <div class="col-md-4">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <div class="col-md-4">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row text">
          <div class="col-md-4">
            <p>
            <b>Sekretariat BEM FEB UI</b><br />
              Student Center Lt.1 Kampus FEB UI<br />
              JL. Dr. Sumitro Djojohadikusumo (Lkr. Kampus Raya)<br />
              Depok, Jawa Barat 16424<br />
            </p>
          </div>
          <div class="col-md-4">
            <p>+62-xxxx-xxxx-xxxx</p>
          </div>
          <div class="col-md-4">
            <p>info@the12thnff.com</p>
          </div>
        </div>--
    	</div>
      {% include "nff/footer.html" %}
    </div>
</div>-->
{% endblock %}

{% block script %}
<script type="text/javascript" src="{%static 'nff/js/jquery.pagepiling.min.js' %}"></script>
<script>
function openNav4() {
    document.getElementById("myNav4").style.height = "100%";
}
function closeNav4() {
    document.getElementById("myNav4").style.height = "0%";
}
function openNav1() {
    document.getElementById("myNav1").style.height = "100%";
}
function closeNav1() {
    document.getElementById("myNav1").style.height = "0%";
}
function openNav2() {
    document.getElementById("myNav2").style.height = "100%";
}
function closeNav2() {
    document.getElementById("myNav2").style.height = "0%";
}
function openNav3() {
    document.getElementById("myNav3").style.height = "100%";
}
function closeNav3() {
    document.getElementById("myNav3").style.height = "0%";
}
</script>
<script type="text/javascript">
  var deleteLog = false;

  $(document).ready(function() {
      $('#pagepiling').pagepiling({
        menu: '#menu',
        anchors: ['Tentang', 'NFF', 'Tema', 'Keluarga'],
        navigation: {
              'textColor': '#f2f2f2',
              'bulletsColor': '#ccc',
              'position': 'right',
              'tooltips': ['Tentang kami', 'Tentang NFF', 'Tema', 'Keluarga NFF']
          }
    });
    });
</script>
{% endblock %}
