{% extends 'nff/base.html' %}
{% block title %}
Sukses
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/flex.css' %}" />
{% endblock %}

{% block content %}
<section>
  <div class="container text-center">
    <h1 style="font-family: aldo; color: #d5b135;">Terima kasih sudah melakukan pembayaran. </h1>
    <p>
      Selamat! Anda telah resmi bergabung dalam The 12th NFF.<br /><br />
      Untuk selanjutnya, silakan download dan isi application form.<br /><br />
      Batas upload form sampai dengan tanggal 8 Januari 2018.<br /><br />
      Terima kasih.
    </p>
    <a href="{%static 'nff/download/APPLICATION FORM PADUS.docx' %}" download="12th NFF - APPLICATION FORM PADUS.docx">12th NFF - APPLICATION FORM PADUS</a><br />
    <a href="{%static 'nff/download/APPLICATION FORM TARI.docx' %}" download="12th NFF - APPLICATION FORM TARI.docx">12th NFF - APPLICATION FORM TARI</a><br />


  </div>
</section>
{% endblock %}
