{% extends 'nff/base.html' %}
{% block title %}
About NFF
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/competition.css' %}" />
<link rel="stylesheet" href="{%static 'nff/css/jquery.pagepiling.css' %}" />
{% endblock %}
{% block content %}
<div id="pagepiling">
    <div class="section" id="section1">
      <div id="myNav4" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">&times;</a>
        <div class="overlay-content">
          <a href={% url 'nff:index' %}>NFF</a>
          <a href={% url 'nff:about' %}>Tentang</a>
          <a href={% url 'nff:competition' %}>Kompetisi</a>
          <a href={% url 'nff:registration' %}>Registrasi</a>
          <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
          <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
          <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
        </div>
      </div>
      <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <div class="navbar-right" id="navbarTogglerDemo02">
          <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
          <ul class="nav navbar-nav ml-auto">
            <span class="menu" onclick="openNav4()"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </ul>
        </div>
      </nav>
    	<h1>KOMPETISI</h1>
    </div>
    <div class="section" id="section2">
    	<div class="intro">
        <div id="myNav1" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
          <div class="overlay-content">
            <a href={% url 'nff:index' %}>NFF</a>
            <a href={% url 'nff:about' %}>Tentang</a>
            <a href={% url 'nff:competition' %}>Kompetisi</a>
            <a href={% url 'nff:registration' %}>Registrasi</a>
            <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
            <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
            <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
          </div>
        </div>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
          <div class="navbar-right" id="navbarTogglerDemo02">
            <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
            <ul class="nav navbar-nav ml-auto">
              <span class="menu" onclick="openNav1()"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </ul>
          </div>
        </nav>
    		<h6>Kompetisi Paduan Suara</h6>
        <div class="container">
          <p>5-6 Maret 2018, Art &amp; Culture Center, Universitas Indonesia</p><br />

          <p>
          Kompetisi paduan suara melantunkan nada-nada yang menginspirasi dan
          bersenandung bagi para pendengarnya dengan membawa lagu dari berbagai
          daerah di Indonesia yang menggambarkan indahnya kebudayaan Indonesia.
          Kompetisi paduan suara terdiri dari <b>dua kategori</b>, yaitu kategori A (Sekolah
          Menengah Atas) dan kategori B (Perguruan Tinggi) yang terdiri dari <b>25-35 peserta
          setiap timnya.</b>
          </p>
          <div class="row">
            <div class="col-md-4">
              <a href="/galeri_padus"><button type="button" class="btn btn-outline-warning competition-buttons">Lihat galeri</button></a>
            </div>
            <div class="col-md-4">
              <a href="/poster#padus"><button type="button" class="btn btn-outline-warning competition-buttons">Poster</button></a>
            </div>
            <div class="col-md-4">
              <a href="/registrasi"><button type="button" class="btn btn-outline-warning competition-buttons">Daftar sekarang</button></a>
            </div>
          </div>
        </div>
    	</div>
    </div>
    <div class="section" id="section3">
    	<div class="intro">
        <div id="myNav2" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
          <div class="overlay-content">
            <a href={% url 'nff:index' %}>NFF</a>
            <a href={% url 'nff:about' %}>Tentang</a>
            <a href={% url 'nff:competition' %}>Kompetisi</a>
            <a href={% url 'nff:registration' %}>Registrasi</a>
            <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
            <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
            <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
          </div>
        </div>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
          <div class="navbar-right" id="navbarTogglerDemo02">
            <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
            <ul class="nav navbar-nav ml-auto">
              <span class="menu" onclick="openNav2()"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </ul>
          </div>
        </nav>
    		<h6>Kompetisi Tari Tradisional</h6>
        <div class="container">
          <p>
            7 Maret 2018, Art &amp; Culture Center, Universitas Indonesia
          </p><br />
          <p>Kompetisi tari tradisional memperlihatkan gerakan-gerakan indah dan rupawan yang
          diiringi oleh alunan musik tradisonal serta memberikan nuasa elegan dari berbagai
          macam tarian tradisional Indonesia. Kompetisi tari tradisional terdiri dari <b>tiga
          kategori</b>, yaitu kategori A (Sekolah Menengah Atas), kategori B (Perguruan Tinggi),
          kategori C (Sanggar dan Umum) yang tiap timnya terdiri atas <b>3-10 peserta.</b></p>

          <div class="row">
            <div class="col-md-4">
              <a href="/galeri_tari"><button type="button" class="btn btn-outline-warning competition-buttons">Lihat galeri</button></a>
            </div>
            <div class="col-md-4">
              <a href="/poster#tari"><button type="button" class="btn btn-outline-warning competition-buttons">Poster</button></a>
            </div>
            <div class="col-md-4">
              <a href="/registrasi"><button type="button" class="btn btn-outline-warning competition-buttons">Daftar sekarang</button></a>
            </div>
          </div>
        </div>
    	</div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{%static 'nff/js/jquery.pagepiling.min.js' %}"></script>
<script>
function openNav4() {
    document.getElementById("myNav4").style.height = "100%";
}
function closeNav4() {
    document.getElementById("myNav4").style.height = "0%";
}
function openNav1() {
    document.getElementById("myNav1").style.height = "100%";
}
function closeNav1() {
    document.getElementById("myNav1").style.height = "0%";
}
function openNav2() {
    document.getElementById("myNav2").style.height = "100%";
}
function closeNav2() {
    document.getElementById("myNav2").style.height = "0%";
}
function openNav3() {
    document.getElementById("myNav3").style.height = "100%";
}
function closeNav3() {
    document.getElementById("myNav3").style.height = "0%";
}
</script>
<script type="text/javascript">
  var deleteLog = false;

  $(document).ready(function() {
      $('#pagepiling').pagepiling({
        menu: '#menu',
        anchors: ['Kompetisi', 'Padus', 'Tari'],
        navigation: {
              'textColor': '#f2f2f2',
              'bulletsColor': '#ccc',
              'position': 'right',
              'tooltips': ['Kompetisi', 'Paduan Suara', 'Tari']
          }
    });
    });
</script>
{% endblock %}
