<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6 class="footer-title">Tentang</h6>
        <ul class="footer-items">
          <li><a href="/tentang/#NFF">
            NFF
          </a></li>
          <li><a href="/tentang/#Tema">
            Tema
          </a></li>
          <li><a href="/tentang/#Keluarga">
            Keluarga
          </a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="footer-title">Kompetisi</h6>
        <ul class="footer-items">
          <li><a href="/kompetisi/#Tari">
            Tari tradisional
          </a></li>
          <li><a href="/kompetisi/#Padus">
            Paduan suara
          </a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="footer-title">Registrasi</h6>
        <ul class="footer-items">
          <li><a href={% url 'nff:registration' %}>
            Daftar
          </a></li>
          <li><a href={% url 'nff:confirmation' %}>
            Konfirmasi
          </a></li>
          <li><a href={% url 'nff:form_upload' %}>
            Unggah formulir
          </a></li>
        </ul>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="sosmed row">
      <div class="col-md-12 text-center">
        <a href="https://id-id.facebook.com/NationalFolkloreFestivalFeui/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/nff_febui/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/nff_febui"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
    </div>
  </div>
</footer>
