<table>
{% for field in form %}
  <div class="form-group">
    <span class="text-danger small">{{ field.errors }}</span>
      <tr>
        <td><label class="control-label">{{ field.label }}</label></td>
        <td>{{ field }}</td>
      </tr>
  </div>
{% endfor %}
</table>
