{% load staticfiles %}
<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 register">
        <div class="form-icon">
          <h1 class="heading">{{ heading }}</h1>
        </div>
        <form class="form-horizontal" action"" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {% for field in form %}
              <div class="form-group">
                <span class="text-danger small">{{ field.errors }}</span>
                  <tr>
                    <td><label class="control-label">{{ field.label }}</label></td>
                    <td>{{ field }}</td>
                  </tr>
              </div>
            {% endfor %}
            </table>
            <div class="form-group">
              <div class="submit">
                <button type="submit" class="btn btn-outline-warning form-buttons">Submit</button>
              </div>
            </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
