{% extends 'nff/base.html' %}
{% block title %}
Galeri Padus NFF
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-container {margin-top: 5em; margin-bottom: 3em;}
.demo {cursor:pointer;}
</style>
{% endblock %}

{% block content %}
<div class="w3-container">
  <div class="w3-content" style="max-width:1200px">
    <img class="mySlides" src="{%static 'nff/images/padus/padus3.jpg' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/padus/padus6.jpg' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/padus/padus5.jpg' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/padus/padus4.jpg' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/padus/padus1.jpg' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/padus/padus2.jpg' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/padus/padus7.jpg' %}" style="width:100%">

    <div class="w3-row-padding w3-section">
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus3.jpg' %}" style="width:100%" onclick="currentDiv(1)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus6.jpg' %}" style="width:100%" onclick="currentDiv(2)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus5.jpg' %}" style="width:100%" onclick="currentDiv(3)">
      </div>
    </div>

    <div class="w3-row-padding w3-section">
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus4.jpg' %}" style="width:100%" onclick="currentDiv(4)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus1.jpg' %}" style="width:100%" onclick="currentDiv(5)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus2.jpg' %}" style="width:100%" onclick="currentDiv(6)">
      </div>
    </div>

    <div class="w3-row-padding w3-section">
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="{%static 'nff/images/padus/padus7.jpg' %}" style="width:100%" onclick="currentDiv(7)">
      </div>
    </div>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

<!--
  <div class="w3-content" style="max-width:800px">
    <img class="mySlides" src="{%static 'nff/images/about/bg4-min.JPG' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/about/bg3-min.JPG' %}" style="width:100%">
    <img class="mySlides" src="{%static 'nff/images/about/bg2-min.JPG' %}" style="width:100%">
  </div>

  <div class="w3-center">
    <div class="w3-section">
      <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
      <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
    </div>
    <button class="w3-button demo" onclick="currentDiv(1)">1</button>
    <button class="w3-button demo" onclick="currentDiv(2)">2</button>
    <button class="w3-button demo" onclick="currentDiv(3)">3</button>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-red";
}
</script>-->
{% endblock %}
