{% extends 'nff/base.html' %}
{% block title %}
12th NFF
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/index.css' %}" />
{% endblock %}

{% block content %}
<section id="hero">
  <div class="hero-image">
    <div class="hero-text">
      <img src="{%static 'nff/images/index/hero-logo.png' %}" />
    </div>
  </div>
</section>

<section id="intro">
  <div class="container intro">
    <h1 class="intro-title">The 12th NFF,<br />celebrating<br />Indonesian culture</h1>
    <hr />
    <p class="intro-description center text-center">
      Sekarnaka Sandya
    </p>
  </div>
</section>

<section id="competitions">
  <div class="container">
    <h1 class="text-center category-title">KOMPETISI</h1>

    <div class="row hidden-sm-down">
      <div class="col-md-6 text-center">
        <h2 class="competition-title">Tari Tradisional</h2>
      </div>
      <div class="col-md-6 text-center">
        <h2 class="competition-title">Paduan Suara</h2>
      </div>
    </div>

    <div class="row hidden-sm-down">
      <div class="col-md-6">
        <img class="mx-auto d-block" src="{%static 'nff/images/index/dance.png' %}" alt="Tari tradisional" />
      </div>
      <div class="col-md-6">
        <img class="mx-auto d-block" src="{%static 'nff/images/index/choir.png' %}" alt="Paduan suara" />
      </div>
    </div>

    <div class="row hidden-sm-down">
      <div class="col-md-6 text-center">
        <p class="competition-details center">
          Kompetisi tari tradisional memperlihatkan gerakan-gerakan indah dan rupawan yang diiringi oleh alunan musik tradisonal serta memberikan nuasa elegan dari berbagai macam tarian tradisional Indonesia.
        </p>
        <a href="/kompetisi/#Tari"><button type="button" class="btn btn-outline-warning competition-buttons">Lebih lanjut</button></a>
      </div>
      <div class="col-md-6 text-center">
        <p class="competition-details center">
          Kompetisi paduan suara melantunkan nada-nada yang menginspirasi dan bersenandung bagi para pendengarnya dengan membawa lagu dari berbagai daerah di Indonesia yang menggambarkan indahnya kebudayaan Indonesia.
        </p>
        <a href="/kompetisi/#Padus"><button type="button" class="btn btn-outline-warning competition-buttons">Lebih lanjut</button></a>
      </div>
    </div>

    <!-- Display for small devices-->
    <div class="row hidden-md-up">
      <div class="col-md-6 text-center">
        <h2 class="competition-title">Tari Tradisional</h2>
        <img class="mx-auto d-block" src="{%static 'nff/images/index/dance.png' %}" alt="Tari tradisional" />
        <p class="competition-details center">
          Kompetisi tari tradisional memperlihatkan gerakan-gerakan indah dan rupawan yang diiringi oleh alunan musik tradisonal serta memberikan nuasa elegan dari berbagai macam tarian tradisional Indonesia.
        </p>
        <a href="/kompetisi/#Tari"><button type="button" class="btn btn-outline-warning competition-buttons">Lebih lanjut</button></a>
      </div>
      <div class="col-md-6 text-center">
        <h2 class="competition-title">Paduan Suara</h2>
        <img class="mx-auto d-block" src="{%static 'nff/images/index/choir.png' %}" alt="Paduan suara" />
        <p class="competition-details center">
          Kompetisi paduan suara melantunkan nada-nada yang menginspirasi dan bersenandung bagi para pendengarnya dengan membawa lagu dari berbagai daerah di Indonesia yang menggambarkan indahnya kebudayaan Indonesia.
        </p>
        <a href="/kompetisi/#Padus"><button type="button" class="btn btn-outline-warning competition-buttons">Lebih lanjut</button></a>
      </div>
    </div>

    </div>
  </div>
</section>

<section id="partners">
  <div class="container">
    <h1 class="text-center category-title">REKAN</h1>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/coca-cola.png' %}" alt="Coca-cola" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/danamon.png' %}" alt="Danamon" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/emina.png' %}" alt="Emina" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/indofood.png' %}" alt="Indofood" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/lois.png' %}" alt="Lois" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners marina" src="{%static 'nff/images/index/rekan/marina.png' %}" alt="Marina" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/mountoya.png' %}" alt="Mountoya" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/pertamina.png' %}" alt="Pertamina" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/sctv.png' %}" alt="SCTV" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/telkomsel.png' %}" alt="Telkomsel" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/tupperware.png' %}" alt="Tupperware" />
      </div>
      <div class="col-md-3 col-sm-6">
        <img class="partners" src="{%static 'nff/images/index/rekan/unilever.png' %}" alt="Unilever" />
      </div>
    </div>

  </div>
  <hr class="rekan" />
</section>
{% endblock %}
