{% load staticfiles %}
<div {% block nav-overlay %}id="myNav"{% endblock %} class="overlay">
  <a href="javascript:void(0)" class="closebtn" {% block nav-close %}onclick="closeNav()"{% endblock %}>&times;</a>
  <div class="overlay-content">
    <a href={% url 'nff:index' %}>NFF</a>
    <a href={% url 'nff:about' %}>Tentang</a>
    <a href={% url 'nff:competition' %}>Kompetisi</a>
    <a href={% url 'nff:registration' %}>Registrasi</a>
    <a href={% url 'nff:confirmation' %}>Konfirmasi</a>
    <a href={% url 'nff:form_upload' %}>Unggah Formulir</a>
    <a href={% url 'nff:application' %}>Formulir Aplikasi</a>
  </div>
</div>
<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <div class="navbar-right" id="navbarTogglerDemo02">
    <a class="navbar-brand" href="{% url 'nff:index' %}">{% if request.get_full_path == "/about/" %}<img class="nff-icon" src="{%static 'nff/images/icon-white.png' %}" alt="logo" />{% else %}<img class="nff-icon" src="{%static 'nff/images/icon.png' %}" alt="logo" />{% endif %}</a>
    <ul class="nav navbar-nav ml-auto">
      <span class="menu" {% block nav-open %}onclick="openNav()"{% endblock %}><i class="fa fa-bars" aria-hidden="true"></i></span>
    </ul>
  </div>
</nav>
