{% extends 'nff/base.html' %}
{% block title %}
Poster NFF
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/poster.css' %}" />
{% endblock %}

{% block content %}
<section id="competitions">
  <div class="container">
    <div class="poster" id="tari">
      <img class="img-fluid" src="{%static 'nff/images/tari/tari_poster.jpg' %}" />
    </div>

    <div class="poster" id="padus">
      <img class="img-fluid" src="{%static 'nff/images/padus/padus_poster.jpg' %}" />
    </div>
  </div>
</section>

{% endblock %}
