{% extends 'nff/base.html' %}
{% load staticfiles %}
{% block title %}
Register NFF
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/form.css' %}" />
{% endblock %}
{% block content %}
{% include 'nff/form-template.html' with heading="REGISTRASI" %}
<div class="container">
    <p class="text-center">
      Mohon maaf, pendaftaran Tari Tradisional untuk seluruh kategori sudah ditutup karena kuota sudah terpenuhi. Terima kasih.
    </p>
</div>
{% endblock %}
