{% extends 'nff/base.html' %}
{% block title %}
Registrasi
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/flex.css' %}" />
{% endblock %}

{% block content %}
<section>
  <div class="container text-center">
    <h1 style="font-family: aldo; color: #d5b135;">Registrasi sudah tutup</h1>
    <p>
      Mohon maaf, registrasi sudah ditutup. Terima kasih.
    </p>

  </div>
</section>
{% endblock %}
