{% extends 'nff/base.html' %}
{% block title %}
Sukses
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/flex.css' %}" />
{% endblock %}

{% block content %}
<section>
  <div class="container text-center">
    <h1 style="font-family: aldo; color: #d5b135;">Terima kasih sudah mendaftar dalam kompetisi Tari Tradisional The 12th NFF.</h1>
    <p>Untuk pembayaran, dapat transfer ke rekening:<br />
    BNI a/n Klara Amanda Aninditya<br />
    0585465368<br /><br />

    Dengan jumlah:<br />
    Kategori A - Rp300.000<br />
    Kategori B - Rp325.000<br />
    Kategori C - Rp350.000<br /><br />

    Ketika sudah melakukan pembayaran dan melakukan konfirmasi pada kami, tim anda secara resmi sudah menjadi peserta The 12th NFF.<br /><br />

    Kami tunggu pembayarannya karena kuota terbatas.<br /><br />

    Terima kasih.</p>
  </div>
</section>
{% endblock %}
