{% extends 'nff/base.html' %}
{% block title %}
Success
{% endblock %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'nff/css/flex.css' %}" />
{% endblock %}

{% block content %}
<section>
  <div class="container text-center">
    <h1>Success!</h1>
  </div>
</section>
{% endblock %}
